# Q1. Explain with an example each when to use a for loop and a while loop.

### For loop is used when the number of iterations is already known. While loop is used when the number of iterations is already Unknown.

## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [7]:
# using while loop
SUM=0
Prod=1
a=1
while a<=10:
    SUM=SUM+a
    Prod=Prod*a
    a=a+1
print(SUM)
print(Prod)

55
3628800

In [15]:
# using for loop
SUM=0
Prod=1
for i in range(1,11):
    SUM=SUM+i
    Prod=Prod*i
print(SUM)
print(Prod)

55
3628800

In [ ]:
## Q3. Create a python program to compute the electricity bill for a household.


#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.
#Your program must pass this test case: when the unit of electricity consumed by the user in a month is
#310, the total electricity bill should be 2250.

In [1]:
def calculate_electricity_bill(units):
    total_bill = 0
    
    if units <= 100:
        total_bill = units * 4.5
    elif units <= 200:
        total_bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
    
    return total_bill

# Taking input from the user
units_consumed = int(input("Enter the units of electricity consumed: "))
electricity_bill = calculate_electricity_bill(units_consumed)
print("The total electricity bill is:", electricity_bill)

Enter the units of electricity consumed:  310

The total electricity bill is: 2250.0

## Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [10]:
# list of numbers from 1 to 100
l=[]
for i in range(1,101):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [11]:
l3=[]
result=[]
for i in l:
    l3.append(i**3)
print(l3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [12]:
for i in l3:
    
    if i%4==0 or i%5==0:
        result.append(i)

In [13]:
result

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

## Q5. Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"

In [19]:
string = "I want to become a data scientist"
string=string.lower()

In [20]:
count=0

for x in string:
    if x == 'a' or x == 'e' or x == 'i' or  x == 'o' or x == 'u':
        count=count+1
        
print(count)

12